*{
    font-family: monospace;
    font-size: large;
    
}

/* Global style */

html{
}

body{
   background-color: #000000;
}

/* Header, navbar */



.navbar-color{
    background-color:  #000000;
}

.navbar-brand{
    color: rgb(255, 255, 255);
    
}

.navbar-brand-icon{
    height: 50px;
    
}

.navbar-brand:hover{
    color: whitesmoke;
    
}

.btn-primary{
    background-color: #8a0202e3 ;
    color: #ffffff;
    border: 1px solid black ;
}

.btn-primary:hover{
    background-color: #000000   ;
    color: #f93e3e;
    border: 1px solid whitesmoke ;
}

.navbar-nav{
    display: flex;
    flex-direction: row-reverse;
}

#UserLogId{

    margin: 10px;
    font-size: larger;
    color: whitesmoke;
}

/* Main section */

.main-section{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
}

.main-section-write-card , .main-section-presentation-card{
    color: whitesmoke;
    background-color: #8a0202e3 ;
    border-radius: 0;
    margin: 10px;
    padding: 10px;
}

.main-section-read-container{
    color: whitesmoke;
    background-color: #8a0202e3 ;
    border-radius: 0;
    margin: 10px;
    min-height: 150px;
}

#textoForoId{
    min-height: 100px ;

}

/* mensajes */

.post{

    background-color:       #000000    ;
    color:   whitesmoke ;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* footer */

footer{
    background-color:   #8a0202e3   ;
    position: fixed;
    bottom: 0;
    color: whitesmoke;
}

.bi:hover{
    cursor: pointer;
}

/* Register/login */

.col-login{
    margin-top: 10px;
    padding: 10px;
    background-color:   #8a0202e3 ;
    color: whitesmoke;
}
.col-register{
    margin-top: 10px;
    padding: 10px;
    background-color:    #000000 ;
    color:  #ffffff;
}